html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primery-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --black-color: #000000;
    --button-accent-color: #188CE8;
    --background-color-first:  #F5F4FA;
    --header-color-line: #ECECEC;
    --background-color-footer: #2F303A;
    --border-color-portfolio: #EEEEEE;
}

body {
    background-color: var(--white-color);
    color: var(--primery-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-style: normal;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {    
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    width: 1200px;
}

/* Шапка */
.header {
    border-bottom: 1px solid var(--header-color-line);
}

.main-nav {
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.header .logo {
    color: var(--black-color);
}

.logo-span {
     color: var(--accent-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* Навігація, контакти */
.site-nav {
    display: flex;
    margin-left: 93px;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.site-nav .nav-item + .nav-item,
.contacts .contacts-item + .contacts-item {
    margin-left: 50px;
}

/* Другий варіант відступу
.site-nav .nav-item:not(:last-child) {
    margin-right: 50px;
} */

.site-nav .link,
.contacts .link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link {
    display: block;     
    color: var(--primery-text-color);
}

.contacts .link {
    display: block;
    color: var(--text-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* .site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
} */

 
/* Герой */
.hero {
    margin-bottom: 94px;
    text-align: center;

    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--background-color-footer);
}

.hero-title {
    margin: 0 auto 30px;

    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
}

/* Кнопка */
.hero.button {
    padding: 7px 32px 13px 32px;
    margin-bottom: 197px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    background-color: var(--accent-color);
    min-width: 216px;
    height: 50px;
    
    border-radius: 4px;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero.button:hover,
.hero.button:focus {
    color:var(--white-color);
    background-color: var(--button-accent-color);
    cursor: pointer;
}

/* Особливості */
 .section.features {
    margin-bottom: 94px;     
} 

.features-list {
    display: flex;
}

.features-list .item + .item {
    margin-left: 30px;
}

.features-list .item{
    width: 270px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.features .section-title {
    text-align: start;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-text {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--text-color);
}

/* Чим ми займаємося? */
.section.work {
    margin-bottom: 94px;
}

.work-list {
    display: flex;
}

.work-list .work-item + .work-item {
    margin-left: 30px;
}
 
.work .section-title {
    margin-bottom: 50px;
}   


/* Наша команда */
.section.team {
    background-color: var(--background-color-first);
}

.section.team>.section-title {
    padding-top: 94px;
    margin-bottom: 50px;
}

.team-content {
    display: flex;
    padding-bottom: 94px;
}

.team-content .card + .card {
    margin-left: 30px;
}

.team-img {
    margin-bottom: 30px;
}

.section-title.name {
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team .section-text {
    text-align: center;

    font-size: 16px;
    line-height: 1.19;
}

/* Підвал */
.footer {
    background-color: var(--background-color-footer);
}

.footer>.container{
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-list {
    margin-top: 20px;
}

.footer-list .item:not(:last-child) {
    margin-bottom: 9px;
}

.logo {
    color: var(--white-color);
}

.footer .link {
    font-style: normal;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

.link.adr {
    color: var(--white-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}
/* /////////////////////////////////// */

 /* Портфоліо */

.section.port {
    margin-top: 94px;
    margin-bottom: 94px;
}

 /* port-nav */
.port-nav {
    margin-bottom: 50px;    
}

.port {
    display: flex;
    justify-content: center;
}

.port .item + .item {
    margin-left: 8px;
}
 
.port.button {
    padding: 6px 22px;
    text-align: center;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    background-color: var(--background-color-first);
    
    border-radius: 4px;
    border-style: inherit;
}

.port.button.primery {
    color: var(--white-color);
    background-color: #2196F3;
}

.port.button:hover,
.port.button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

/*  port-list */
.group {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.port-group {
    width: 370px;
 }

.border-group{
    padding: 20px 24px;
    background: var(--white-color);
    border: 1px solid var(--border-color-portfolio);
}

.port {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
} 

.port-img {
    display: block;
} 

.section-title.group {
    padding-top: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.section-text.group {
    font-size: 16px;
    line-height: 1.9;
}



 







